.ant-drawer-body{
  padding: 0 !important;
  overflow-y: auto !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.ant-drawer-content{
  background-color: rgba(255, 255, 255, 0.05)!important;
  backdrop-filter: blur(10px) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.ant-drawer-mask{
  background-color: white !important;
  opacity: 0 !important;
}
.ant-drawer-content-wrapper{
  box-shadow: none !important;
}
.ant-drawer-close {
  color: white !important;
  transition: transform 0.8s ease !important;
  &:hover {
    transform: rotate(180deg) !important;
  }
}