.ant-slider-handle {
  &::after {
    width: 6px !important;
    height: 6px !important;
    position: relative;
    top: -2px !important;
    display: none;
  }
}
.ant-slider {
  position: relative;
  top: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 4px;
  &:hover {
    .ant-slider-handle {
      opacity: 1 !important;
      transform: scale(1.1) !important;
    }

    .ant-slider-track {
      filter: brightness(1.1) !important;
      height: 5px !important;
    }
  }
}
.ant-slider-track {
  background: #2f94f9 !important;
  height: 4px !important;
}
