.initial {
  .F-Segmented-item-normal {
    color: white;
    background-color: initial;
    &:hover {
      background-color: initial;
      color: #ff0011;
    }
  }
  .F-Segmented-item {
    margin: 0 0 0 0;
  }
  .F-Segmented-item-selected {
    background-color: initial;
    color: #ff0011;
  }
}
