html,
body,
#root,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
.drag {
  -webkit-app-region: drag; //设置头部可拖拽
}
@font-face {
  font-family: "iconfont"; /* Project id 4745381 */
  src:
    url("//at.alicdn.com/t/c/font_4745381_xyl4x8kw95r.woff2?t=1732891454070")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4745381_xyl4x8kw95r.woff?t=1732891454070")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4745381_xyl4x8kw95r.ttf?t=1732891454070")
      format("truetype");
}
@font-face {
  font-family: "iconfont1";
  src: url("./font/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: "PingFang SC Heavy";
  src: url("./font/PingFang Heavy.otf");
}
.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
* {
  .iconfont1 {
    font-family: "iconfont1", serif !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  font-family: "PingFang SC Heavy", serif;
  -webkit-app-region: no-drag;
  -webkit-user-select: none; //禁用文本选择 防止在拖动范围内选中了文字
  &::-webkit-scrollbar {
    width: 7px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #13131a;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #373535;
    border-radius: 4px;

    &:hover {
      background: #999;
    }
  }
}
.overflow-y-scroll {
  background-color: #13131a;
}
//隐藏滚动条
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
* {
  outline: none !important;
  -webkit-focus-ring-color: transparent;
}

:focus {
  outline: none !important;
}

.ant-tabs {
  .ant-tabs-nav {
    &::before {
      border: none;
    }
  }
  .ant-tabs-nav-list {
    .ant-tabs-ink-bar {
      background: #fa3d49 !important;
    }
    width: 100% !important;
  }
}

.ant-tabs-tab {
  color: gray !important;
  position: relative;

  .ant-tabs-tab-btn {
    font-size: 14px;
    transition: all 0.3s;
    position: relative;
    z-index: 1;

    &::after {
      content: attr(title);
      position: absolute;
      left: 0;
      top: 0;
      font-size: 15.4px; // 稍微大一点的字体
      color: transparent;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}

.ant-tabs-tab-active {
  .ant-tabs-tab-btn {
    color: white !important;
  }
}
.ant-tabs-content-holder {
  .ant-tabs-content {
    height: 100%;
    .ant-tabs-tabpane {
      height: 100%;
    }
  }
}
